# ========================
# Sistema operativo
# ========================
.DS_Store
.thumbs.db
Thumbs.db

# ========================
# Vue / Quasar (frontend)
# ========================
node_modules
.quasar
/dist
/quasar.config.*.temporary.compiled*
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
/src-capacitor/www
/src-capacitor/node_modules

# ========================
# Laravel (backend)
# ========================
backend/.env
backend/vendor/
backend/storage/app/private/
backend/storage/app/public/
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/

# ========================
# Variables de entorno
# ========================
.env.local*
.env.*.local

# ========================
# Logs
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# ========================
# Editores
# ========================
.idea
.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
