APP_NAME=DYDAccesorios
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=dydaccesorios
DB_USERNAME=dyd_user
DB_PASSWORD=dyd_password

FILESYSTEM_DISK=public
FRONTEND_URL=http://localhost:9100

MAIL_MAILER=smtp
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USERNAME=tu_usuario_ethereal
MAIL_PASSWORD=tu_password_ethereal
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=tu_email@ejemplo.com
MAIL_FROM_NAME="DYD Accesorios"
STORE_EMAIL=tu_email@ejemplo.com

LOG_CHANNEL=stack
LOG_LEVEL=debug
